# This file is part of OpenScan-Hardware
# Copyright 2023 OpenScan Contributors
# SPDX-License-Identifier: CC-BY-SA-4.0

root = true

[*]
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
